{%extends "layout.html" %}
{%block body%}
  <div class="div-block" style = "width:100%;">
    <div class="div-block-4">
      <div>
        <div class="text-block">Jersey Mikes</div>
      </div>
      <div class="div-block-5"></div>
      <div class="div-block-6">
        <div class="div-block-7">Current Wait Time: {{current.wait}}</div>
        <div class = "div-block-7">Max Wait Time: {{max.wait}}</div>
        <div class = "div-block-7">Min Wait Time: 0</div>
        <div class="div-block-7">Mean Wait Time: {{average}}</div>
        <div class="div-block-7">Raw Data: </div>
      </div>
      <div class="div-block-10">
        <div class="div-block-11">
          <div>
            <div>Devices</div>
          </div>
          <div>
            <div>Time Stamp</div>
          </div>
          <div>
            <div>Predicted Wait</div>
          </div>
        </div>
        {%for data in datas%}
        <div class="div-block-11">
          <div>
            <div>{{data.devices}}</div>
          </div>
          <div>
            <div>{{data.time}}</div>
          </div>
          <div>
            <div>{{data.wait}}</div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
{%endblock%}
