{%extends "layout.html" %}
{%block body %}
  <div class="div-block" style="width:100%;">
    <div class="div-block-4">
      <div>
        <div class="text-block">Jersey Mikes</div>
      </div>
      <div class="div-block-5">
        <div class="text-block-2">Current Wait</div>
        <div class="text-block-3">{{current}} Mins</div>
      </div>
      <div class="div-block-6">
        <div class="div-block-7"><img src="/static/images/jmike.jpg" loading="lazy" width="207" alt="">
          <div class="div-block-8">
            <div class="div-block-9">Jersey Mike's</div>
            <div class="div-block-9 bruh">Rating: ⭐️⭐️⭐️⭐️⭐️</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endblock %}
