{%extends "layout.html" %}
{%block body %}
  <div class="div-block" style="width:100%;">
    <div class="div-block-4">
      <div>
        <div class="text-block">Jersey Mikes</div>
      </div>
      <div class="div-block-5" style = "width:90%;">
        <div class="text-block-2">Current Wait</div>
        <div class="text-block-3">{{current}} Mins</div>
        <script>
          let keyArr = [];
          let valueArr = [];
        </script>
        {% for time in all %}
          <script>keyArr.push("{{time.time}}");</script>
          <script>valueArr.push("{{time.wait}}");</script>
        {% endfor %}
        <canvas id="myChart"></canvas>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{{all.wait}}
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: keyArr,
        datasets: [{
            label: 'Wait Time (in mins)',
            //backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: valueArr,
        }]
    },

    // Configuration options go here
    options: {}
  });</script>
      </div>
      <div class="div-block-6">
        <div class="div-block-7"><img src="/static/images/jmike.jpg" loading="lazy" width="207" alt="">
          <div class="div-block-8">
            <div class="div-block-9">Jersey Mike's</div>
            <div class="div-block-9 bruh">Rating: ⭐️⭐️⭐️⭐️⭐️</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endblock %}
