<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>
  {%block title%}
  {%endblock%}
</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/static/css/hellowrld.css" rel="stylesheet" type="text/css">
  <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/static/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/static/images/webclip.png" rel="apple-touch-icon">
  {%block head%}
  {%endblock%}
</head>
<body>
  <header id="nav" class="sticky-nav">
    <div class="div-block-2">
      <div><img src="/static/images/dash.png" loading="lazy" width="234" srcset="/static/images/dash.png 500w, /static/images/dash.png 800w, /static/images/dash.png 1051w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 36vw, 234px" alt="" class="image"></div>
      <div class="div-block-3"><a href="#" class="link">Dining Halls</a><a href="#" class="link">Home</a></div>
      <div><a href="#" class="button" style = "text-decoration:none;"><span style = "color:white;">Login</span></a></div>
    </div>
  </header>
  <div class="div-block">
    {%block body%}
    {%endblock%}
  </div>
</body>
</html>
